
<footer class="page-footer font-small unique-color-dark">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">About Us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Alpha Strikers is currently working on developing resposive website and mobile app.We believe in quality development</p>

      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.instagram.com/?hl=en">Instagram</a>
        </p>
        <p>
          <a href="#!">Our Website</a>
        </p>
        <p>
          <a  (click)="openDialog()" style="color: #007bff;cursor: pointer;">Help</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mat-icon>home</mat-icon><span class="spanstyle1">I,Block</span> </p>
        <p>
          <mat-icon>email</mat-icon> <span class="spanstyle1">sranjeet022@gmail.com</span></p>
        <p>
        <mat-icon>phone</mat-icon><span  class="spanstyle1">8118832168</span></p>
        <p>
         <mat-icon>print</mat-icon><span  class="spanstyle1">+ 01 234 567 89</span> </p>
      </div>
    </div>

  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a >AlphaStrikers.com</a>
  </div>


</footer>

