<div class="wrapper">
  <mat-card style="background: honeydew;">
      <mat-card-header>
          <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <label >Email</label>
   <input type="email" matInput  formControlName="email" >
    </mat-form-field><br>
    <mat-form-field>
      <label for="">Password</label>
      <input type="password" #x matInput  formControlName="password" class="sty">
      <a (click)="x.type=x.type=='password'?'text':'password'"><mat-icon class="eye">remove_red_eye</mat-icon></a>
       </mat-form-field><br>
       <button type="submit" mat-raised-button style=" background: #ea2330;color: #fff;">Login</button>
      </form>

      </mat-card-content>

  </mat-card>
</div>
