/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ngx-toastr/toastr.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
li{
  list-style: none;
}
.mat-dialog-container{
  overflow-x: hidden !important;
}
.mat-form-field-underline {
  display: none;
  }
  mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color:#2dce89 !important;
    }
