<div class="container-fluid"
class="dvsty" >
  <div class="col-12" id="#top">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="../../assets/room-clipart-paying-guest-2.jpg" alt="image"
        class="imgsty">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/IMG_6541.JPG" alt="image"
        class="imgsty">
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div>
<h3 style="text-align: center;">What We Do</h3>
<hr>
<p>Yatra  provide rooms for students and job person at  afforadble rate .We have variety of room option avilable acoording to person range.User can also see the images and if he like the rooms he can contact the owner </p>
</div>
